extends ../layouts/layout

block content
    h1 Test text a device
    p To test a device, text its number anything to establish a connection, except a message of the format "c, #, #, #."
    form(action="/texts/test" method="post")
        input(type="text" name="device_number" placeholder="Device Number")
        br
        input(type="text" name="Body" placeholder="Text Body")
        br
        div
            input(type="submit" value="Send Text")

