extends layout

block head
    title Add a New Device

block content
    #main
        h2 Add a new device
        form(action="/devices" method="post")
            input(type="text" name="nickname" placeholder="Nickname")
            br
            input(type="text" name="phone_number" placeholder="Phone Number")
            br
            p Run Water Detection: 
            input(type="checkbox" name="run_detect" value:"yes")
            br
            p Run pH Test: 
            input(type="checkbox" name="run_pH" value:"yes")
            br
            p Run Turbidity Test: 
            input(type="checkbox" name="run_turbidity" value:"yes")
            br
            p Run Temperature Test: 
            input(type="checkbox" name="run_temperature" value:"yes")
            br
            input(type="number" name="frequency" placeholder="Daily Frequency")
            br
            div
                input(type="submit" value="Add Device")

