form(action="/data" method="post")
                input(type='text' placeholder="Location" name='location')
                input(type='text' placeholder="Radius (km)" name='radius')
                br
                input(type='submit' name='submit' value="Search Data" id="submit") 