doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/layout_style.css')
    link(rel="icon" type="image/png" href="/images/icon.png")
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css')  
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    block head
  body
    #header
        ul
            li
                img(src='/images/icon.png' height="24px")
            li 
                h1 MAJI SAFI
            li
            li
                if admin
                    p Welcome #{admin.display_name}!
                else
                    p Welcome to Maji Safi!

            li 
                a(href='/admins') Devices
            li 
                if admin
                    a(href='/logout') Logout
                else
                    a(href='/login') Login
    #bod
        block content
