extends layout

block content
    h1 Test text a device
    form(action="/testtext" method="post")
        input(type="text" name="device_number" placeholder="Device Number")
        br
        input(type="text" name="Body" placeholder="Text Body")
        br
        div
            input(type="submit" value="Send Text")

