extends ../layouts/layout

block head
    title Add a New Device

block content
    #main
        h2 Add a new device
        form(action="/devices/add" method="post")
            input(type="text" name="nickname" placeholder="Nickname")
            br
            input(type="text" name="phone_number" placeholder="Phone Number")
            br
            input(type="text" name="location_x" placeholder="Latitude")
            br
            input(type="text" name="location_y" placeholder="Longitude")
            br
            input(type="text" name="sampling_rate" placeholder="Sampling Rate")
            br
            input(type="text" name="messaging_rate" placeholder="Messaging Rate")
            br
            div
                input(type="submit" value="Add Device")

