extends ../layouts/layout

block head
    title Login

block content
    div(id='login-box' class='popup')
        h2 Login
        #flash
            each mess in messages
                p #{mess}
        form(action="/login" method="post")
                input(type="text" name="email" placeholder="Email")
                br
                input(type="password" name="password" placeholder="Password")
                div
                    input(type="submit" value="Log In")
                    
                    
        br            
        a(href='/register') Don't have an account? Click here to sign up.